<meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
<html>
<body>
<h1 align="center">Votaciones de la reunion</h1></body>

<form method="post" action="/">
	<input type="checkbox" name="cbxW" value="cbxW"> Persona W<br>
	<input type="checkbox" name="cbxX" value="cbxX"> Persona X<br>
	<input type="checkbox" name="cbxY" value="cbxY"> Persona Y<br>
	<input type="checkbox" name="cbxZ" value="cbxZ"> Persona Z<br>
	<input type="submit" value="Enviar" name="btn"/>
</form>
</body>

</html>
